* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2c5364, #0f2027);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1200px; 
}

.title {
    margin:auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-top: 30px;
}

.gallery {
    position: relative;
    width: 350px;
    height: 350px;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
    margin-bottom: auto;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(420px);
}

.gallery span img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: transform 0.8s;
}

.gallery span:hover img {
    transform: translateY(-20px) scale(1.15) rotateY(20deg);
}
