
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  margin: 0;
  padding: 0;
  color: #222;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
header {
  text-align: center;
  color: #333;
  background: white;
  padding: 30px 10px;
  border-radius: 0 0 40px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 4px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
header:hover{
  background: linear-gradient(90deg, #ffb6c1, #a8edea);
  color: #111;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  transform: translateY(-3px);
}

header h1 {
  margin: 0;
  font-size: 40px;
}

header p {
  margin-top: 8px;
  color: #555;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif ;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-align: center;
  width: 280px;
  padding: 15px;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 220px;
}

.product-card h2 {
  margin: 10px 0 5px;
  color: #222;
}

.product-card p {
  font-size: 0.9rem;
  color: #555;
}

.price {
  color: #111;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e91e63;
}

@media (max-width: 992px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .product-card {
    width: 90%;
  }
}

footer {
  text-align: center;
  background: white;
  padding: 15px 0;
  border-radius: 20px 20px 0 0;
  margin-top:20px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
  font-weight: 500;
  color: #444;
  font-size: 2rem;
  position: relative;
  bottom: 0;
  width:100%;
  margin-top: auto;
  position: static;
  margin-bottom: 10px;

}
footer:hover{
  background: linear-gradient(90deg, #ffb6c1, #a8edea);
  color: #111;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  transform: translateY(-3px);
}
@media (max-width: 600px) {
  header h1 {
    font-size: 28px;
  }
  header p {
    font-size: 16px;
  }
  footer {
    font-size: 1.2rem;
  }
  button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}


